body{
    margin: 0;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.urna{
    
    background-color: rgb(166, 230, 230);
    padding: 30px;
    padding-left: -50px;
    display: flex;
    border-bottom: 5px solid #000;
   
}

.tela{
    width: 500px;
    height: 370px;
    background: linear-gradient(to right, #e8e8e8e8, #c1c1c1c1);
    margin-left: 50px; 
    border: 2px solid #c1c1c1c1;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;

}

.teclado{
    background-color: darkgray;    
    border: 2px solid #c1c1c1c1;
    border-radius: 10px;

}
.teclado--linha{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.teclado--botao{
    width: 70px;
    height: 40px;
    background-color: black;
    color: aliceblue;
    font-size: 25px;
    display: flex ;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0px #dfd2d2c1;
    border: 5px solid #c1c1c1c1;
    border-radius: 5px;

}
.tecla--controle{
     padding-top: 30px;
  }

.botao--branco{
   background-color: white;
   color: black;
   font-size: 15px;
}

.botao--corrige{
   background-color: rgb(188, 144, 63);
   color: black;
   font-size: 15px;
}

.botao--confirme{
  background-color: rgb(111, 202, 116);
  color: black;
  font-size: 15px;
  width: 90px;
  height: 50px;
}

.d-1{
 flex: 1;
 display: flex;
}

.d-1-left{
 flex: 1;
}

.d-1-right{
   width: 90px;
}

.d-2{
    height:  50px;
    font-size: 14px;
    border-top: 1px solid #000;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
  }
